<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdh.backend.mapper.KnowledgeDocumentRelationMapper">

    <select id="selectDocumentIdsByKnowledgeId" resultType="java.lang.Long">
        SELECT document_id FROM knowledge_document_relation WHERE knowledge_id = #{knowledgeId}
    </select>

    <select id="selectKnowledgeIdsByDocumentId" resultType="java.lang.Long">
        SELECT knowledge_id FROM knowledge_document_relation WHERE document_id = #{documentId}
    </select>

    <delete id="deleteByKnowledgeIdAndDocumentId">
        DELETE FROM knowledge_document_relation
        WHERE knowledge_id = #{knowledgeId} AND document_id = #{documentId}
    </delete>

    <delete id="deleteByKnowledgeId">
        DELETE FROM knowledge_document_relation WHERE knowledge_id = #{knowledgeId}
    </delete>

</mapper>
